@import "reset.css";

  
  
  
  
  /* footer */



  footer{
    width: 100%;
    /* position: absolute; */
    padding: 4rem 0 5rem 0;
    /* 9rem header + 5rem은 기본 공백 */
    /* top: 9rem; */
  }
  
  
  footer .ft_box{
    /* position: relative; */
    margin: 0px auto;
    max-width: 1240px;
    padding: 0 3.6rem;
  }
  
  footer .ft_logo {
    width:15%;
    /* padding-right: 8rem; */
  }
  
  footer .ft_logo img{
    width: 12rem;
  }
  
  
  
  footer .ft_inner{
    display: flex;
  }
  
  footer .ft_wrap {
    width:60%;
  }
  
  footer .ft_wrap > ul{
    display: flex;
    margin-bottom: 3rem;
  }
  
  footer .ft_wrap ul li{
    margin-right: 2rem;
  }
  
  footer .ft_wrap ul li a{
    font-size: 1.4rem;
  }
  footer .ft_wrap > ul li:nth-child(3){
    font-weight: 600;
  }
  
  footer .ft_info{
    font-size: 1.2rem;
    color: #999;
    font-weight: 300;
  }
  
  
  footer .ft_info p{
    margin-bottom: 0.8rem;
  }
  
  footer .ft_info .info_box_1{
    display: flex;
  }
  
  footer .ft_info .info_box_1 p::after{
    content: "·";
    margin: 0 0.8rem;  
  }
  
  footer .ft_info .info_box_2{
    display: flex;
  }
  
  footer .ft_info .info_box_2 p:nth-child(1)::after{
    content: "·";
    margin: 0 0.8rem;  
  }
  
  
  footer .ft_sns{
    width: 25%;
    display: flex;
    justify-content: flex-end;
  }
  
  footer .ft_sns ul{
    display: flex;
    flex-wrap: wrap;
  }
  
  
  
  
  
  footer .ft_sns ul li{
    width: 3.2rem;
    height: 3.2rem;
    background-color: #999;
    margin-left:1rem;
    border-radius: 15%;
  }
  
  
  
  footer .ft_sns ul li:nth-child(1) > a{
    text-indent: -9999px;
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/sns_yt.png") no-repeat;
    background-size: cover;
  }
  
  footer .ft_sns ul li:nth-child(2) > a{
    text-indent: -9999px;
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/sns_fb.png") no-repeat;
    background-size: cover;
  }
  
  footer .ft_sns ul li:nth-child(3) > a{
    text-indent: -9999px;
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/sns_insta.png") no-repeat;
    background-size: cover;
  }
  
  footer .ft_sns ul li:nth-child(4) > a{
    text-indent: -9999px;
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/sns_naver.png") no-repeat;
    background-size: cover;
  }
  


  /* top-btn */



  .top_btn_inner{
    visibility: hidden;
    opacity: 0;
    position: relative;
    margin: 0px auto;
    max-width: 1240px;
    padding: 0 3.6rem;
    transition: 0.3s;
    z-index: 10;
  }

  .top_btn_inner.on{
    visibility: visible;
    opacity: 1;
  }


  .top_btn_inner button{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 5rem;
    height: 5rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.5rem 0.6rem 1.2rem 0.065rem rgb(25 48 88 / 30%);
    cursor: pointer;
  }

  .top_btn_inner .top_btn{
    font-size: 2rem;
  }








/* 768px 미디어쿼리 */
@media screen and (max-width:
768px) {


 /* footer */
 footer{
  width: 100%;
  /* position: absolute; */
  padding: 3rem 0 4rem 0;
  /* 9rem header + 5rem은 기본 공백 */
  /* top: 9rem; */
}




footer .ft_logo {
  width: 100%;
  margin-bottom: 2.4rem;  
}


footer .ft_inner{
  display: flex;
  flex-wrap: wrap;
}

footer .ft_wrap{
  width: 100%;
  margin-bottom: 2.4rem;  
}



footer .ft_sns{
  width: 100%;
  justify-content: flex-start;
}

footer .ft_sns ul{
  flex-wrap: nowrap;
}


footer .ft_sns ul li{
  margin-left:0;
  margin-right: 1rem;
}


}



/* 480px 미디어쿼리 */
@media screen and (max-width:
480px) {
  /* footer */
  footer .ft_wrap > ul{
    flex-direction: column;
    margin-bottom: 1.4rem;  
  }
  
  footer .ft_wrap ul li{
    margin-bottom: 0.8rem;
  }
}